:root {
  // FONT SIZE: 12 14 16 18 20 24 30 36 48 60 76 96
  // WHITESPACE: 02 04 08 12 16 24 32 48 64 80 96 128
  // LINE HEIGHT: 1.2 - 1.5
  // FONT WEIGHT: 400 700

  --font-base: "Lato", sans-serif;

  // PRIMARY COLORS
  --color-primary-dark: #005F5A;
  --color-primary-lightdark: #009689;
  --color-primary-medium: #00D5BE;
  --color-primary-light: #CBFBF1;
  --color-primary-extralight: #F0FDFA;

  // GREYS
  --color-grey-dark: #1D293D;
  --color-grey-medium: #45556C;
  --color-grey-light: #90A1B9;
  --color-grey-extralight: #fff;

  // ACCENT COLORS
  --color-accent-blue-dark: #2563eb;
  --color-accent-blue-medium: #3b82f6;
  --color-accente-orange-dark: ##ea580c;
  --color-accente-orange-medium: ##fb923c;

  // GRADIENTS
  --gradient-primary: linear-gradient(120deg, #005F5ABF, #00D5BEBF);
  
  // BOX SHADOW
  --shadow-big: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  --shadow-small: 0 1px 2px 0 rgba(0, 0, 0, 0.5);

}

/* BASE STYLES */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

::selection {
  background-color: var(--color-primary-medium);
  color: var(--color-grey-extralight);
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  font-size: 62.5%;
}

body {
  font-family: var(--font-base);
  font-size: 1.8rem;
  color: var(--color-grey-dark);
  line-height: 1;
  padding: 3.2rem;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

a,
button {
  cursor: pointer;
}

p {
  line-height: 1.8;
}

button,
input {
  border: none;
  font-family: inherit;
}

img {
  display: block;
}

.main{
  border-radius: 8px;
  overflow: hidden;
}

.container {
  max-width: 128rem;
  margin: 0 auto;
}