.row {
    max-width: $grid-width;
    margin: 0 auto;
    display: flex;
    gap: $gutter-horizontal;
    
    & > *{
        flex: 1;
    }

    @include respond(tab-port){
        flex-direction: column;
        gap: $gutter-vertical-small;
        width: 80%;
    }
}

.col{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: $gutter-vertical;
    min-width: 40rem;

    @include respond(tab-port){
        flex-direction: column;
        width: 50%;
    }
}